<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>library</key>
		<string>central_library</string>
		<key>libraryId</key>
		<string>1</string>
		<key>photos</key>
		<array>
			<dict>
				<key>name</key>
				<string>bgd_10</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>bgd_11</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>library</key>
		<string>central_square</string>
		<key>libraryId</key>
		<string>2</string>
		<key>photos</key>
		<array>
			<dict>
				<key>name</key>
				<string>love_2</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>love_3</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>library</key>
		<string>hana_square</string>
		<key>libraryId</key>
		<string>3</string>
		<key>photos</key>
		<array>
			<dict>
				<key>name</key>
				<string>bgd_12</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>bgd_18</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>library</key>
		<string>science_library</string>
		<key>libraryId</key>
		<string>4</string>
		<key>photos</key>
		<array>
			<dict>
				<key>name</key>
				<string>bgd_2</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>bgd_3</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>bgd_15</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ljy_5</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ljy_6</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ljy_7</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>library</key>
		<string>cdl</string>
		<key>libraryId</key>
		<string>5</string>
		<key>photos</key>
		<array>
			<dict>
				<key>name</key>
				<string>bgd_1</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>love_1</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>love_4</string>
				<key>photographer</key>
				<string></string>
				<key>description</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
