<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>배경동</string>
		<key>name_en</key>
		<string>Bae KyungDong</string>
		<key>association</key>
		<string>일상다반사</string>
		<key>association_en</key>
		<string>일상다반사</string>
		<key>instagram</key>
		<string>kyungdong.bae</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>이준영</string>
		<key>name_en</key>
		<string>Lee JunYoung</string>
		<key>association</key>
		<string>일상다반사</string>
		<key>association_en</key>
		<string>일상다반사</string>
		<key>instagram</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>전사랑</string>
		<key>name_en</key>
		<string>Jun SaRang</string>
		<key>association</key>
		<string>일상다반사</string>
		<key>association_en</key>
		<string>일상다반사</string>
		<key>instagram</key>
		<string>j_lovely</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>이영준</string>
		<key>name_en</key>
		<string>Lee YoungJun</string>
		<key>association</key>
		<string></string>
		<key>association_en</key>
		<string></string>
		<key>instagram</key>
		<string>rastignac9</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>전소미</string>
		<key>name_en</key>
		<string>Jun SoMi</string>
		<key>association</key>
		<string>일상다반사</string>
		<key>association_en</key>
		<string>일상다반사</string>
		<key>instagram</key>
		<string>som_gallery</string>
	</dict>
</array>
</plist>
