<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>bgd_10</string>
		<key>libraryId</key>
		<integer>3</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>love_2</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>love_3</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>bgd_12</string>
		<key>libraryId</key>
		<integer>5</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>bgd_18</string>
		<key>libraryId</key>
		<integer>5</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>bgd_2</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>bgd_3</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>bgd_15</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>ljy_5</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>ljy_6</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>ljy_7</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>1</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>bgd_1</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>0</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>love_1</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>love_4</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>2</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>somi_1</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>4</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>somi_2</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>4</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>somi_3</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>4</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>somi_4</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>4</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cdl_1</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cdl_2</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cdl_3</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cdl_4</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cdl_5</string>
		<key>libraryId</key>
		<integer>4</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cl_1</string>
		<key>libraryId</key>
		<integer>3</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cl_2</string>
		<key>libraryId</key>
		<integer>3</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_1</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_2</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_3</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_4</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_5</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_6</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_7</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_8</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_9</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_10</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_11</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_12</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_13</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_cs_14</string>
		<key>libraryId</key>
		<integer>1</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_hs_1</string>
		<key>libraryId</key>
		<integer>5</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_hs_2</string>
		<key>libraryId</key>
		<integer>5</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_hs_3</string>
		<key>libraryId</key>
		<integer>5</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_sl_1</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_sl_2</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>lyj_sl_3</string>
		<key>libraryId</key>
		<integer>26</integer>
		<key>photographerId</key>
		<integer>3</integer>
		<key>description</key>
		<string></string>
	</dict>
</array>
</plist>
